<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="/static/screen.css" />
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/pop-40.js"></script>
<title>Pop-40</title>
</head>
<body>

  <div id='content'></div>

  <div id='footer'>
    <a href="https://github.com/gentimouton/pop-40">Source code</a> - <a
      href="privacy">Privacy (todo)</a>
  </div>

</body>
</html>